/* Contact Form */
/* Body style */

#body-contact {
    padding: 50px 100px;
    font-size: 13px;
    font-style: Verdana, Tahoma, sans-serif;
}

h2 {
    margin-bottom: 20px;
    color: #e8491d;
}

/* Contact form */

.input-contact,
.textarea-contact {
    padding: 10px;
    border: 1px solid #e5e5e5;
    width: 200px;
    color: #999999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.input-contact {
    padding: 10px;
}

.textarea-contact {
    width: 400px;
    height: 150;
    max-width: 400px;
    line-height: 18px;
}

.input-contact:hover,
.textarea-contact:hover,
.input-contact:focus,
.textarea-contact:focus {
    border-color: ipx solid #c9c9c9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
    color: #999999;
    display: inline-block;
    text-align: left;
    width: 8%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

/* Submit Button */

.submit input {
    width: 100px;
    height: 40px;
    background-color: #e8491d;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}